<div class="container">
  <nb-card class="inline-form-card" style="border-radius: 15px">
    <nb-card-header>Filters</nb-card-header>
    <nb-card-body>
      <div class="row mb-4">
        <div class="col-6 text-center">
          <nb-select
            selected="All"
            style="min-width: 50%"
            [formControl]="selectedItemFormControl"
          >
            <nb-option *ngFor="let item of categories" [value]="item.value">{{
              item.view
            }}</nb-option>
          </nb-select>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <input
                nbInput
                placeholder="Pick Date"
                [nbDatepicker]="sDate"
    
              />
              <nb-datepicker
                #sDate
                (dateChange)="filterDate($event, 'start')"
              ></nb-datepicker>
            </div>
            <div class="col-6">
              <input
                nbInput
                placeholder="Pick Date"
                [nbDatepicker]="eDate"
              />
              <nb-datepicker
                #eDate
                (dateChange)="filterDate($event, 'end')"
              ></nb-datepicker>
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>

  <nb-card>
    <nb-card-header> Claims </nb-card-header>

    <nb-card-body>
      <ng2-smart-table
        [settings]="settings"
        [source]="source"
        (deleteConfirm)="onDeleteConfirm($event)"
        (custom)="view($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</div>
