<div class="container-fluid">
  <div class="row">
    <div class="col-4" style="margin-top: 50px;">
      <nb-card>
        <nb-card-header
          ><h4>
            Total number of Claims: 
          </h4></nb-card-header
        >
        <nb-card-body>
          <!-- <ngx-claims-live-update-chart
            [liveUpdateChartData]="liveUpdateChartData"
          >
          </ngx-claims-live-update-chart> -->
          <h3 style="font-size: xx-large;" class="text-center">{{ claimCount }}</h3>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-8">
      <nb-card>
        <nb-card-header> <h4>Claim Flow This week</h4></nb-card-header>
        <nb-card-body
          ><ngx-claim-flow-week> </ngx-claim-flow-week>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-4" style="margin-top: -250px">
      <div>
        <nb-card>
          <nb-card-header>
            <h4>
              Total number of Providers :
            </h4></nb-card-header
          >
          <nb-card-body>
            <!-- <ngx-providers-chart [points]="trafficChartPoints">
            </ngx-providers-chart> -->

            <h3 style="font-size: xx-large;" class="text-center">{{ providerCount }}</h3>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ngx-trends-graph></ngx-trends-graph>
    </div>
  </div>
</div>
