<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <nb-card>
        <nb-card-header
          ><h4>Total number of Claims: <span>20</span></h4></nb-card-header
        >
        <nb-card-body>
          <ngx-claims-live-update-chart
            [liveUpdateChartData]="liveUpdateChartData"
          >
          </ngx-claims-live-update-chart>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-8">
      <nb-card>
        <nb-card-header> <h4>Claim Flow This week</h4></nb-card-header>
        <nb-card-body
          ><ngx-claim-flow-week> </ngx-claim-flow-week>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-4" style="margin-top: -275px">
      <div>
        <nb-card>
          <nb-card-header>
            <h4>Total number of Providers : <b>20</b></h4></nb-card-header
          >
          <nb-card-body
            ><ngx-providers-chart [points]="trafficChartPoints">
            </ngx-providers-chart>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <ngx-trends-graph></ngx-trends-graph>
    </div>
  </div>
</div>
