<div class="container">
  <div class="row">
    <div class="col-8">
      <nb-card>
        <nb-card-body>
          <div class="row mb-3">
            <div class="col-md-6 text-center">
              <nb-select selected="All" style="min-width: 50%">
                <nb-option *ngFor="let item of categories" [value]="item">{{
                  item
                }}</nb-option>
              </nb-select>
            </div>
            <div class="col-md-6 text-center">
              <input
                style="min-width: 50%"
                nbInput
                placeholder="Range Picker"
                [nbDatepicker]="rangepicker"
              />
              <nb-rangepicker
                #rangepicker
                [min]="min"
                [max]="max"
              ></nb-rangepicker>
            </div>
          </div>

          <chart
            style="min-height: 400px"
            type="line"
            [data]="dataTrends"
            [options]="optionsTrends"
          ></chart>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-4">
      <nb-card>
        <nb-card-body>
          <p class="header-p">
            Total Number of Claims Between <b>03-05-2022 and 06-05-2022</b> For
            type <b>All</b> is <b>200</b>
          </p>

          <div echarts [options]="optionsClaims" class="echart"></div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-5">
      <nb-card>
        <nb-card-header>Claim Flow by Hospital</nb-card-header>
        <nb-card-body>
          <!-- <chart
            style="min-height: 300px"
            type="line"
            [data]="dataTrends"
            [options]="optionsTrends"
          ></chart> -->

          <nb-list>
            <nb-list-item>
              <p>Hospital</p>
              <p class="pull-right">250</p></nb-list-item
            >
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-7">
      <nb-card>
        <nb-card-header>Successful to Error Claims</nb-card-header>
        <nb-card-body>
          <chart
            style="min-height: 300px"
            type="bar"
            [data]="dataS2E"
            [options]="optionsS2E"
          ></chart>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
